@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

body {
  padding: 0 5%;
  font-family: 'Montserrat', sans-serif !important;
}

a {
  color: #00B7FF;
}

.font-weight-bold {
  font-weight: 600 !important;
}